<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
</head>

<body>
    <h1>商品首頁</h1>
    <h3><a href="/">回首頁</a></h3>
    {% block content %}

    {% endblock content %}
</body>

</html>